:host {
  display: flex;
  flex-flow: column nowrap;
  background-color: #00000011;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
[title] {
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 1px solid black;
  margin-bottom: 0.5rem;
  width: 100%;
}
[property] {
  & > label { font-weight: bold; }
}
